@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans:wght@400;700');

:root[data-theme=light],
:root[data-theme=dark] {
    --pst-font-family-heading: "poppins";
    --pst-color-secondary: #9947E6;
}

:root[data-theme=light] {
    --pst-color-background: #faf9fc;
}

.bd-article-container h1,
.bd-article-container h2 {
    font-weight: 800;
}


/* Hotfix sphinx-book-theme */
.search-button-field:hover {
    border: 0;
    outline: 2px solid var(--pst-color-link-hover);
}

.search-button-field {
    border: 0;
    outline: 1px solid var(--pst-color-border);
}